.header-container {
    margin: 20px 0 20px 0;
    text-align: center;
}

.application-container {
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 100%;
}

.action-holder {
    transition: color ease-in-out 0.6s;
    cursor: pointer;
    padding: 3px 13px;
    border: none;
    margin: 3rem;
}

.edit {
    color: #f1c40f;
}

.edit:hover {
    color: #d35400;
}

.delete {
    color: #e74c3c;
}

.delete:hover {
    color: #c0392b;
}

.increase {
    color: #2ecc71;
}

.increase:hover {
    color: #16a085;
}

.decrease {
    color: #95a5a6;
}

.decrease:hover {
    color: #2c3e50;
}

.text-center {
    text-align: center;
}

.flex-row {
    display: flex;
    padding-left: 30px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.flex-row .columns {
    margin-left: 0;
    text-align: center;
}

.d-block {
    display: block;
}

button.update-button {
    transition: background-color ease-in-out 0.6s;
    background-color: #f1c40f;
    border-color: #f1c40f;
}

button.update-button:hover {
    background-color: #d35400;
    border-color: #d35400;
}